@import "./variables";

@import '~nativescript-theme-core/scss/index';
@import '~nativescript-theme-core/scss/platforms/index.android';

@import "./common";

ActionBar {
    Button {
        background-color: $primary-color;
        width: 50;
    }
}

.modal-page {
    width: 800;
}
